{% extends "base.html" %}
{% block content %}
    <h1>About me</h1>
    <p>Hi, my name is Juan Ramirez-Orta and I am a PhD student under the supervision of Dr. Evangelos Milios in the Computer Science Faculty of Dalhousie University.</p>
    <p>I created this website as a small exercise in my research. If you want to report any bugs, please contact me at mat.juan.ramirez "at" gmail.com or my LinkedIn <a href="https://www.linkedin.com/in/juan-antonio-ramirez-orta-66b2861aa/">profile</a>.</p>
{% endblock %}
