<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Unsupervised document summarization</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        {% if title %}
        <title>{{ title }} - auto_summ</title>
        {% else %}
        <title>Welcome to auto_summ</title>
        {% endif %}
    </head>
	<body class="w3-auto w3-container">
        <div>
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('summarization') }}">Summarization</a> |
            <a href="https://web.cs.dal.ca/~juanr/">About the author</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <u1>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </u1>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
